@import "~bootstrap/scss/bootstrap";


*{
    margin: 0;
    padding: 0;
}
body {
    --dot-bg: white;
    --dot-color: black;
    --dot-size: 1px;
    --dot-space: 22px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }
  
.guest-page{
    background: red;
    position: relative;
    > video{
        height: 100%;
        width: 100%;
    }
    h2{
        position: absolute;
        bottom: 16rem;
        left: 3rem;
        color: #ffc26e;
    }
}

// .action-icons > button{
//     background: white;
//     color: black;
//     border-color: black;
// }